<h1>Tours Index Page</h1>

<h1>Listing Tours</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @tours.each do |tour| %>
    <tr>
      <td><%= tour.title %></td>
      <td><%= tour.text %></td>
      <td><%= link_to 'Show', tour_path(tour) %></td>
      <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
      <td><%= link_to 'Destroy', tour_path(tour),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Tour', new_tour_path %>